*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

form{
  background-color: #2c2cff;
  border-radius: 5%;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formClass{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 80vw;
  background-color: #00059f;
  border-radius: 1%;
}

.dataEntry{
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  border: none;
}

label{
  padding-top: 1rem;
}

button{
  margin-top: 1rem;
  width: 3rem;
  margin-left: 4rem;
  background-color: #2c2cff;
  border: none;
}

input{
  color: black;
}

